<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="website icon" type="png" href="https://cdn-icons-png.flaticon.com/512/10339/10339556.png">
    <link rel="stylesheet" href="../Public/css/game.css">
</head>

<body>
    <div class="poundandright" id="poundandright">

        <p>Puan:<span id="pound"></span></p>
        <p>Hak:<span id="right"></span></p>
    </div>
    <div id="home">
    </div>

    <script src="../Public/js/game.js"></script>
</body>

</html>